@tailwind base;
@tailwind components;
@tailwind utilities;

/* noto-sans-kr-regular - korean */
@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 400;
    src: local("Noto Sans KR Regular"), local("NotoSansKR-Regular"),
        url("fonts/NotoSans-Regular.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
            url("fonts/NotoSans-Regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */

    font-display: swap;
}
/* noto-sans-kr-500 - korean */
@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 700;
    src: local("Noto Sans KR Medium"), local("NotoSansKR-Medium"),
        url("fonts/NotoSans-Bold.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */ url("fonts/NotoSans-Bold.woff")
            format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    font-display: swap;
}

html {
    font-family: "Noto Sans KR", Arial, sans-serif;
}
